


p {
    padding-top: 15px;
}
a {
    font-size: 16px;
    color: #B21F50;
    text-decoration: underline wavy;
} 
*:focus{
    border: 6px dashed #417243;
    outline: none;
    
}
h1 {
    text-align: center;
    line-height: 2;
    font-family: "Syncopate", sans-serif;
} 
body{
    background-image: url(../images/pigeon-background.jpg);
    background-repeat: no-repeat;
    background-color: #DDDDDD;
    background-size: cover;
} 
td {
    text-align: center;
    border-bottom: solid 2px #000000;
    padding: 10px;

} 
thead tr th {
    min-width: 125px;
    padding: 10px;
    color:#ffffff;
    text-transform: uppercase;
    background-color: #7e0820;
    text-align: center;
    border: none;
    
} 
tr th{
    
    border: 2px solid #000000;
    border-top: none;
} 
 tbody tr:hover{
    background-color: rgb(126, 8, 32,0.25);
    
}
table {
    border-spacing: 0px;
    border-right: 2px solid #000000;
    border-radius: 20px;
}
thead tr th:first-child {
    border-top-left-radius: 20px;
}
thead tr th:last-child {
    border-top-right-radius: 20px;
}
tbody tr:last-child th:first-child {
    border-bottom-left-radius: 20px;
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}
tr:nth-child(even){
    background-color: #D1D1D1;
}
tr:nth-child(odd){
    background-color: transparent;
}